body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.producto {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    text-align: center;
}

.prod{
    width: 200px;
}

#carrito {
    border: 1px solid #333;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    text-align: left;
}

#lista-carrito {
    list-style: none;
    padding: 0;
}

#lista-carrito li {
    margin-bottom: 5px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
